* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
LICENSE text eol=lf

*.bin binary
*.elf binary
*.hex text eol=lf
*.mba binary
*.mbs binary
*.llext binary
